---
metatype: css
---

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Playfair+Display');


html, body {
    background-color: #1B2836;
    color: #8899a6;
    font-family: font-family: 'IBM Plex Sans', sans-serif;
}
 
.post-content {
    color: #8899a6;
    font-family: 'IBM Plex Sans', sans-serif;
}

h2 a {
    color: #FF5555;
    font-family: 'Playfair Display', serif;
}

#author-header .item:not(.first) {
    color: #50FA7B;
    border-left: 1px solid #8899a6;
}

#author-header .username {
    font-family: 'IBM Plex Sans', sans-serif;
}

#author-header .bio {
    font-family: 'IBM Plex Sans', sans-serif;
    opacity: 1;
}

hr::before {
    content: '...';
    color: #8899a6;
}

#author-header .item {
    color: #8899a6;
    font-family: 'IBM Plex Sans', sans-serif;
}

#header {
    border-bottom: 1px solid #8899a6;
}  

#header a {
    color: #fff;
}

#subscription-form .sublabel {
    color: #8899a6;
    opacity: 0.5;
    font-family: 'IBM Plex Sans', sans-serif;
}

#footer .left .listed {
    color: #fff;
}

#footer a {
    color: #fff;
}

#single-post-show #single-post-footer a {
    color: #FF5555;
}
  
#subscription-form {
    border: 1px solid #8899a6;
}

#subscription-form label {
    font-family: 'IBM Plex Sans', sans-serif;
}

.previous-next-container .previous, .previous-next-container .next {
    border: 1px solid #8899a6;
}

#single-post-show .more-from {
  font-family: 'IBM Plex Sans', sans-serif;
}

#settings .urls .url a {
	color: #50FA7B;	
}

.form-box {
	border: 1px solid #8899a6;
}

a {
	color: #50FA7B;
}
   
  
