---
metatype: css
---

html, body {
    background-color: #1B2836;
    color: #8899a6;
}
 
.post-content {
    color: #8899a6;
}

h2 a {
    color: #FF5555;
}

#author-header .item:not(.first) {
    color: #50FA7B;
    border-left: 1px solid #8899a6;
}

#author-header .bio {
    opacity: 1;
}

hr::before {
    content: '';
    color: #fff;
}

#author-header .item {
    color: #8899a6;
}

#header {
    border-bottom: 1px solid #8899a6;
}  

#header a {
    color: #fff;
}

#subscription-form .sublabel {
    color: #8899a6;
    opacity: 0.5;
}

#footer .left .listed {
    color: #fff;
}

#footer a {
    color: #fff;
}

#single-post-show #single-post-footer a {
    color: #FF5555;
}
  
#subscription-form {
    border: 1px solid #8899a6;
}

.previous-next-container .previous, .previous-next-container .next {
    border: 1px solid #8899a6;
}
  
  
